/* App.css */
.App {
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5uOCUlDgC8F09eMrukCp8gTYVOT99mB_2XA&s");
  background-size: 50%; /* 배경 이미지를 컨테이너 크기의 50%로 설정 */
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
